*{
    margin: 0%;
    padding: 0%;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-image: url('bg-img.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    font-size:large;
}
.container{
    overflow: hidden;
    background-color:rgba(213, 209, 232,0.7);
    margin-top: 130px;
    height: 600px;
    width: 600px;
    border-radius: 5px ;
    position: relative;
}
button,small{
    cursor: pointer;
}
.container .FormGroup1{
    margin-bottom: 15px;
    position: relative;
}
.FormGroup1 span{
    font-size: 15px;
    position: absolute;
    display: none;
    top:60px;
}
.FormGroup1 input{
    border:2px solid white;
}
.FormGroup1.valid input{
    border-color:green;
}
.FormGroup1.invalid input{
    border-color:red;
}
.FormGroup1.invalid span{
    color: red;
    display: inline;
}
#last-name{
    border: 2px solid rgb(255, 217, 0);
}
.container>#basic{
    padding: 25px;
    width: 80%;
    position: absolute;
    top:65px;
    left:35px; 
    background-color: black;
    border-radius:15px;
    height: 450px;
}
#basic input{
    width: 100%;
    margin:10px 0;
    padding: 2px;
}
.button-box1 {
    text-align: center;
}
.button-box1 #basic-next{
    position: relative;
    top: 10px;
    padding: 5px;
    width: 70px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    
}
.container .FormGroup2{
    margin-bottom: 15px;
    position: relative;
}
.FormGroup2 span{
    font-size: 15px;
    position: absolute;
    display: none;
    top:60px;
}
.FormGroup2 input{
    border:2px solid white;
}
 .container>#others{
    padding: 25px;
    width: 80%;
    position: absolute;
    top:60px;
    left:-550px; /*left 35*/
    background-color: black;
    border-radius:15px;
    height: 450px;
}
#others input[type="text"],input[type="tel"]{
    width: 100%;
    margin:10px 0;
    padding: 2px;
}
#others textarea{
    width: 100%;
    margin:10px 0;
    border:2px solid rgb(255, 217, 0);
}
.FormGroup2 #state{
    width: 490px;
    padding: 2px;
    border:2px solid white;
}
#state~span{
    position: relative;
    top: 5px;
}
.FormGroup2.valid input{
    border-color:green;
}
.FormGroup2.invalid input{
    border-color:red;
}

.FormGroup2.invalid span{
    color: red;
    display: inline;
}
.FormGroup2.valid #state{
    border:2px solid green;
}
.FormGroup2.invalid #state{
    border:2px solid red;
}
.button-box2 #others-next{
    padding: 5px;
    width: 70px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    position: relative;
    bottom:15px;
    left:400px;
}
.button-box2 #others-prev{
    padding: 5px;
    width: 70px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    position: relative;
    bottom: 15px;
    right: 40px;
}
.container .FormGroup3{
    margin-bottom: 15px;
    position: relative;
}
.FormGroup3 input{
    border:2px solid white;
}
.container>#work{
    padding: 25px;
    width: 70%;
    position: absolute;
    top:80px;
    left:-550px; /*left 60*/
    background-color: black;
    border-radius:15px;
    height: 350px;
}
#work input{
    width: 100%;
    margin:10px 0;
    padding: 2px;
    border:2px solid rgb(255, 217, 0)
}
.button-box3 #work-next{
    padding: 5px;
    width: 70px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: 110px;
    left:300px;
}
.button-box3 #work-prev{
    padding: 5px;
    width: 70px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: 110px;
    right: 40px;
}
.container .FormGroup4{
    margin-bottom: 15px;
    position: relative;
}
.FormGroup4 span{
    font-size: 15px;
    position: absolute;
    display: none;
    top:60px;
}
.FormGroup4.invalid span{
    color: red;
    display: inline;
}
.container>#education{
    padding: 25px;
    width: 70%;
    position: absolute;
    top:80px;
    left:-550px; /*left 60*/
    background-color: black;
    border-radius:15px;
    height: 350px;
}

.FormGroup4 #graduation{
    width: 100%;
    margin:10px 0;
    padding: 2px;
    border:2px solid white;
}
#graduation~span{
    position: relative;
    top: 2px;
}
.FormGroup4.invalid span{
    color: red;
    display: inline;
}
.FormGroup4.valid #state{
    border:2px solid green;
}
.FormGroup4.valid input{
    border:2px solid green;
}
#education input{
    width: 100%;
    margin:10px 0;
    padding: 2px;
}
.button-box4 #education-next{
    padding: 5px;
    width: 70px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: 110px;
    left:300px;
}
.button-box4 #education-prev{
    padding: 5px;
    width: 70px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: 110px;
    right: 40px;
}
.container .FormGroup5{
    margin-bottom: 15px;
    position: relative;
}
.FormGroup5 span{
    font-size: 15px;
    position: absolute;
    display: none;
    top:30px;
}
.FormGroup5.invalid span{
    color: red;
    display: inline;
}
#practice~span{
    position: relative;
    top: 2px;
}
#team #practice{
    width: 100%;
    margin:10px 0;
    padding: 2px;
    border:2px solid white;
}
.FormGroup5.valid #practice{
    border:2px solid green;
}
.container>#team{
    padding: 25px;
    width: 70%;
    position: absolute;
    top:80px;
    left:-550px; /*left 60*/
    background-color: black;
    border-radius:15px;
    height: 350px;
}
.button-box5 #team-submit{
    padding: 5px;
    width: 70px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: 140px;
    left:240px;
}
.button-box5 #team-prev{
    padding: 5px;
    width: 70px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: 140px;
    left: 30px;
} 
.container>#response{
    padding: 25px;
    width: 70%;
    position: absolute;
    top:80px;
    left:-550px; /*left 60*/
    background-color: black;
    border-radius:15px;
    height: 350px;
}
#response>pre{
    text-align: center;
    position: relative;
    top: 130px;
    font-size: 25px;
    left: -25px;
}
.step-row{
    display: flex;
    width: 600px;
    height: 40px;
    margin: 0 auto;
    align-items: center;
    position: relative;
}
.step-col{
    width: 120px;
    text-align: center;
    color: wheat;
    position: relative;
    font-size: 22px;
}
#progress{
    position: absolute;
    height:100%;
    width: 120px;
    background-color: black;
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position:absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid black;
}